body {
    background-image: url("./fundo.jpg");
    background-size: cover;
}

a {
  margin-bottom: 20px;
  text-decoration: none;
  background-color: gray;
  color: white;
  border-radius:5px;
  padding: 0px 5px 0px 5px;
}

#top, #main {
  margin: auto;
  text-align: center;
}

#top {
  width: 30%;
  margin-top: 10vh;
}

#main {
    border-radius: 15px;
    margin-top: 15vh;
    width: 300px;
    background-color: white;
}

.imagem {
  height: 20vh;
}
